@charset "UTF-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
  display: block;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  cursor: pointer;
  font: inherit;
}

input,
select,
textarea {
  font: inherit;
  color: inherit;
  vertical-align: top;
  border: none;
}

body {
  font-family: "Poppins", serif;
}

.hidden {
  display: none;
}

.inner {
  padding-inline: 16px;
}

.page-content {
  padding-top: 44px;
  padding-bottom: 68px;
}

.main-content {
  max-width: 375px;
  margin-inline: auto;
}

.flash {
  padding: 10px;
  position: fixed;
  top: 15px;
  right: 0;
  background: #fff;
  -webkit-animation: flash-slide 3s forwards;
          animation: flash-slide 3s forwards;
  border: 1px solid #000;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

@-webkit-keyframes flash-slide {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); /* 画面外の右 */
    opacity: 0;
  }
  10% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%); /* 画面内にスライドイン */
    opacity: 1;
  }
  90% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%); /* 表示されたままキープ */
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); /* 画面外に戻る */
    opacity: 0;
  }
}

@keyframes flash-slide {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); /* 画面外の右 */
    opacity: 0;
  }
  10% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%); /* 画面内にスライドイン */
    opacity: 1;
  }
  90% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%); /* 表示されたままキープ */
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); /* 画面外に戻る */
    opacity: 0;
  }
}
.login-top-img {
  margin-bottom: 33px;
}
.login-top-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.form__label {
  font-size: 11px;
  font-weight: 400;
  color: #9e9e9e;
}

.form__input {
  width: 100%;
  margin-top: 4px;
  border-bottom: 1px solid #9e9e9e;
  font-size: 16px;
}

.form__submit {
  width: 100%;
  margin-top: 30px;
  padding: 14px;
  background-color: #ffe600;
  text-align: center;
  font-size: 14px;
}

.forget-password {
  display: inline-block;
  width: 100%;
  margin-top: 16px;
  font-size: 11px;
  color: #9e9e9e;
  text-align: right;
}

.profile__head {
  text-align: center;
}

.profile__head-name {
  font-size: 16px;
  font-weight: 400;
}

.profile__image {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  margin-top: 32px;
  text-align: center;
  position: relative;
}
.profile__image:hover {
  cursor: pointer;
}
.profile__image::before {
  content: "";
  width: 84px;
  height: 84px;
  position: absolute;
  border-radius: 50%;
  top: 51%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  border: 1px solid #e91e63;
  z-index: -1;
}
.profile__image img {
  border-radius: 50%;
  width: 76.875px;
  height: 76.875px;
}

.profile__body {
  margin-top: 43px;
}

.profile__counts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 241px;
  margin-left: 20%;
  margin-right: 15.7333333333%;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.count {
  text-align: center;
}

.count__number,
.count__text {
  display: block;
}

.count__number {
  font-size: 16px;
}

.count__text {
  font-size: 14px;
  color: #9e9e9e;
}

.profile__posts-content {
  margin-top: 42px;
}

.profile__posts-upper-row,
.profile__posts-lower-tier {
  display: grid;
  gap: 8px;
}

.profile__posts-upper-row {
  grid-template-columns: 0.6fr 0.4fr;
  grid-template-rows: repeat(2, 1fr);
}
.profile__posts-upper-row .profile__post:nth-child(1) {
  grid-area: 1/1/3/2;
}
.profile__posts-upper-row .profile__post:nth-child(2) {
  grid-area: 1/2/2/3;
}
.profile__posts-upper-row .profile__post:nth-child(3) {
  grid-area: 2/2/3/3;
}

.profile__posts-lower-tier {
  margin-top: 8px;
  grid-template-columns: 0.4fr 0.6fr;
  grid-template-rows: repeat(2, 1fr);
}
.profile__posts-lower-tier .profile__post:nth-child(1) {
  grid-area: 1/1/2/2;
}
.profile__posts-lower-tier .profile__post:nth-child(2) {
  grid-area: 2/1/3/2;
}
.profile__posts-lower-tier .profile__post:nth-child(3) {
  grid-area: 1/2/3/3;
}

.profile__post img {
  width: 100%;
  height: 100%;
  display: block;
}

.posts__new-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.posts__new-link img {
  width: 20px;
  height: 20px;
}

.posts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 36px;
  margin-top: 42px;
}

.post__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 8px;
}

.post__profile-image img {
  width: 30px;
  height: 30px;
}

.post__account-name {
  display: block;
  font-size: 14px;
}

.post__account-time {
  display: block;
  color: #9e9e9e;
  font-size: 12px;
}

.post__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 11px;
  gap: 12px;
}

.post__images {
  display: grid;
  grid-template-columns: 0.59fr 0.41fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 7px;
}

.post__image:nth-child(1) {
  grid-area: 1/1/3/2;
}
.post__image:nth-child(2) {
  grid-area: 1/2/2/3;
}
.post__image:nth-child(3) {
  grid-area: 2/2/3/3;
}

.post__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}

.post__tab img {
  width: 16px;
  height: 16px;
}

.post__info {
  margin-top: 8px;
}

.post__description,
.post__date {
  font-size: 12px;
}

.add-post__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.add-post__title {
  font-size: 16px;
}

.add-post__head-link {
  font-size: 16px;
  color: #2f80ed;
}

.post-link-inactive {
  color: #bdbdbd;
  cursor: none;
  pointer-events: none;
}

.add-post__content {
  margin-top: 47px;
}

.add-post__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-post__profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.add-post__form {
  margin-top: 37px;
}

.post-form__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.post-form__input {
  border-bottom: 1px solid #9e9e9e;
  font-size: 16px;
  padding-bottom: 8px;
  caret-color: #2f80ed;
}
.post-form__input:focus {
  outline: none;
}
.post-form__input::-webkit-input-placeholder {
  color: #bdbdbd;
}
.post-form__input::-moz-placeholder {
  color: #bdbdbd;
}
.post-form__input:-ms-input-placeholder {
  color: #bdbdbd;
}
.post-form__input::-ms-input-placeholder {
  color: #bdbdbd;
}
.post-form__input::placeholder {
  color: #bdbdbd;
}

.post-form__file-label {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #e0e0e0;
  padding: 1px 8px 3px 10px;
  font-size: 12px;
}

.post-form__file {
  display: none;
}

.post-form__submit {
  display: none;
}